<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ICT3103_StudentGradingSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

<filter>
	<filter-name>SessionFilter</filter-name>
	<filter-class>
		com.sgs.servlet.SessionFilter
	</filter-class>
	<init-param>
        <param-name>avoid-urls</param-name>
        <param-value>/login.jsp, /faculty_home.jsp, /faculty_addmarks.jsp, /faculty_liststudent.jsp, /student_home, /student_viewgrades, /student_enrolledmodules</param-value>
    </init-param>
</filter>
    
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>
            com.sgs.servlet.NoCacheFilter
        </filter-class>
    </filter>
     <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/login, /faculty_addmarks</url-pattern>
    </filter-mapping>
   
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.sgs.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.sgs.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/AccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyController</display-name>
    <servlet-name>FacultyController</servlet-name>
    <servlet-class>com.sgs.controller.FacultyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyController</servlet-name>
    <url-pattern>/FacultyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.sgs.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMarksController</display-name>
    <servlet-name>AddMarksController</servlet-name>
    <servlet-class>com.sgs.controller.AddMarksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarksController</servlet-name>
    <url-pattern>/AddMarksController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PasswordController</display-name>
    <servlet-name>PasswordController</servlet-name>
    <servlet-class>com.sgs.controller.PasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordController</servlet-name>
    <url-pattern>/PasswordController</url-pattern>
  </servlet-mapping>
</web-app>